<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Seguimiento de turnos</h2>
                        <p align="right"> <button (click)="siguienteTurnoCaja()"  type="button"
                                class="btn waves-effect waves-light btn-outline-success">Siguiente Caja</button> </p>
                        <p align="right"> <button (click)="siguienteTurnoServ()" type="button"
                            class="btn waves-effect waves-light btn-outline-success">Siguiente Servicio</button> 
                        </p>
                        <p align="right"> <button (click)="reiniciar()" type="button"
                            class="btn waves-effect waves-light btn-outline-success">Reiniciar</button> 
                        </p>
                        <h6 class="card-subtitle"></h6>
                        <div class="table-responsive">
                            <!-- <h1> {{tramite[tramite.Caja]}} - {{tramite.Caja}} {{horaActual | date: 'HH:mm:ss'}} </h1> -->
                            <table id="demo-foo-addrow" class="table full-color-table full-inverse-table hover-table"
                                data-page-size="10">
                                <thead>
                                    <tr>
                                        <th>Nº Ticket</th>
                                        <th>Tipo Atencion</th>
                                        <th>Tramite</th>
                                        <th>Tiempo Espera</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr *ngFor="let ticket of ticketsArray">
                                        <td>{{ticket.ticket}}</td>
                                        <td>{{atencion[ticket.atencion]}}</td>
                                        <td>{{tramite[ticket.tramite]}}</td>
                                        <td *ngIf="ticket.estado === 0"><span class="label label-danger">{{ calculateDiff(ticket.createdAt!,horaActual,ticket.estado!) | date: 'HH:mm:ss'}}</span></td>
                                        <td *ngIf="ticket.estado !== 0"><span class="label label-sucess"> </span></td>
                                        <td>{{estado[ticket.estado]}}</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->

    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>