
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
    
            
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Seguimiento de turnos</h4>
                                <h6 class="card-subtitle"></h6>
                                <div class="table-responsive">
                                    <table id="demo-foo-addrow" class="table full-color-table full-inverse-table hover-table" data-page-size="10">
                                        <thead>
                                            <tr>
                                                <th>Nº Turno</th>
                                                <th>Tipo Atencion</th>
                                                <th>Tramite</th>
                                                <th>Tiempo</th>
                                                <th>Estado</th>
                                                <!-- <th>Acción</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Preferencial</td>
                                                <td>Servicio al cliente</td>
                                                <td><span class="label label-danger">00:10:12</span> </td>
                                                <td>Atendiendo</td>
                                                <!-- <td>
                                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Finalizar"><i class="ti-close" aria-hidden="true"></i></button>
                                                </td> -->
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Normal</td>
                                                <td>Caja</td>
                                                <td><span class="label label-danger">01:00:10</span> </td>
                                                <td>Finalizado</td>
                                                <!-- <td>
                                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Finalizar"><i class="ti-close" aria-hidden="true"></i></button>
                                                </td> -->
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Normal</td>
                                                <td>Caja</td>
                                                <td><span class="label label-danger">00:23:20</span> </td>
                                                <td>En Espera</td>
                                                <!-- <td>
                                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Finalizar"><i class="ti-close" aria-hidden="true"></i></button>
                                                </td> -->
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Normal</td>
                                                <td>Caja</td>
                                                <td><span class="label label-danger">00:05:50</span> </td>
                                                <td>En Espera</td>
                                                <!-- <td>
                                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Finalizar"><i class="ti-close" aria-hidden="true"></i></button>
                                                </td> -->
                                            </tr>
                                           
                                        </tbody>
                                      
                                    </table>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
              
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
          
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>

