
<div id="main-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Espere su turno</h2>
                        <div align="left">
                        <mat-card class="example-card">
                            <mat-card-subtitle>Su turno es:</mat-card-subtitle>
                            <mat-card-title>Ticket: 5</mat-card-title>
                            <mat-divider inset></mat-divider>
                            <mat-card-footer>
                              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            </mat-card-footer>
                          </mat-card>
                        </div> 
                      
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Turno actual</h2>
                        <div align="right">
                            <mat-card class="example-card">
                                <mat-card-subtitle>Turno actual:</mat-card-subtitle>
                                <mat-card-title>{{this.turnoActual}}</mat-card-title>
                                <mat-divider inset></mat-divider>
                                <mat-card-footer>
                                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                </mat-card-footer>
                              </mat-card>
                        </div> 
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>