<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-small-cap">MENU</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Administración<span
                                class="label label-rouded label-themecolor pull-right">2</span></span></a>
                    <ul aria-expanded="false" class="collapse" routerLinkActive="active">
                        <li><a routerLink="dashboard">Dashboard</a></li>
                    </ul>
                    <ul aria-expanded="false" class="collapse" routerLinkActive="active">
                        <li><a routerLink="seguimiento">Seguimiento</a></li>
                    </ul>
                    <ul aria-expanded="false" class="collapse" routerLinkActive="active">
                        <li><a routerLink="ticket">Turnos</a></li>
                    </ul>
                    <ul aria-expanded="false" class="collapse" routerLinkActive="active">
                        <li><a routerLink="salaespera">Sala de espera</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>